<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/form.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <title>CRUD</title>
</head>

<body>
    <div class="container">
        <h1>Node.JS & MySQL</h1>
        <div class="row">

            <a href="table.html">
                <div class="function">
                    <i class="ri-node-tree"></i>
                    <h2>Get machines</h2>
                    <p>All machines from database.</p>
                </div>
            </a>

            <div class="function">
                <i class="ri-node-tree"></i>
                <h2>Get machine by ID</h2>
                <p>Just the machine with specific ID.</p>
            </div>

            <div class="function" id="m2-c" onclick="parent.location='#m2-o'">
                <i class="ri-search-line"></i>
                <h2>Search by parameters</h2>
                <p>All machines with specific parameters.</p>
            </div>

            <div class="function" id="m1-c" onclick="parent.location='#m1-o'">
                <i class="ri-insert-row-bottom"></i>
                <h2>Insert a new machine</h2>
                <p>Add a new machine to the database.</p>
            </div>

        </div>
    </div>

    <div class="box">
        <div class="modal-container" id="m1-o" style="--m-background: rgba(0, 0, 0, 0.4);">
            <div class="modal">
                <h1 class="modal_title">Insert a new machine</h1>

                <div class="row">
                    <div class="form-group">
                        <label>SERIAL NUMBER:</label>
                        <input id="SERIAL_TXT" type="text" required>
                    </div>
                    <div class="form-group">
                        <label>WIDTH:</label>
                        <input id="WIDTH_TXT" type="text" required>
                    </div>
                    <div class="form-group">
                        <label>HEIGHT:</label>
                        <input id="HEIGHT_TXT" type="text" required>
                    </div>
                    <div class="form-group">
                        <label>DEPTH:</label>
                        <input id="DEPTH_TXT" type="text" required>
                    </div>
                    <div class="form-group">
                        <label>WEIGHT:</label>
                        <input id="WEIGHT_TXT" type="text" required>
                    </div>
                    <button type="button" id="btnSubmit" class="modal_btn">Submit</button>
                </div>


                <a href="#m1-c" class="link-2"></a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script type="module" src="../javascript/insert.js"></script>
    <script type="module" src="../javascript/indexController.js"></script>


</body>

</html>