@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--backdark: rgb(30, 30, 30);
	--frontdark: #a989f4;
	--frontlight: #8a34db;
	--backlight: #f2f2f2;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

::selection {
	background: var(--frontdark);
}

::-moz-selection {
	background: var(--frontdark);
}

.container {
	max-width: 100%;
	height: 100vh;
	padding: 0 10%;
}

.container h1 {
	text-align: center;
	padding-top: 5%;
	position: relative;
	margin-bottom: 40px;
}

.container h1::before {
	content: '';
	position: absolute;
	width: 200px;
	height: 3px;
	bottom: -4px;
	left: 50%;
	transform: translateX(-50%);
	background: var(--frontlight);
	z-index: -1;
}

.row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 30px;
}

.function {
	text-align: center;
	padding: 20px 10px;
	border-radius: 10px;
	background: transparent;
	cursor: pointer;
	font-size: 14px;
	transition: transform .2s ease-in-out, background .2s, box-shadow .2s;
}

.function i {
	font-size: 30px;
	margin-bottom: 10px;
	color: var(--frontlight);
}

.function h2 {
	font-weight: 600;
	margin-bottom: 10px;
}

.function:hover {
	background: var(--frontlight);
	color: var(--backlight);
	box-shadow: 0 0 30px rgba(162, 60, 245, 0.2);
	/* box-shadow: 0 0 40px #a989f42f; */
	transform: scale(1.1);
}

.function:hover i {
	color: var(--backlight);
}

.function:active {
	transform: scale(1.05);
}
